/*
Spacing
http://govuk-elements.herokuapp.com/layout/#layout-spacing

Spacing between elements is usually 5px, 10px, 15px or multiples of 15px

*/

.pad-all-0       { padding: 0; }
.pad-all-4       { padding: 4px; }
.pad-all-5       { padding: 5px; }
.pad-all-10     { padding: 10px; }
.pad-all-15     { padding: 15px; }
.pad-all-30     { padding: 30px; }
.pad-all-45     { padding: 45px; }
.pad-all-60     { padding: 60px; }
.pad-all-75     { padding: 75px; }
.pad-all-90     { padding: 90px; }

.pad-left-0       { padding-left: 0; }
.pad-left-5       { padding-left: 5px; }
.pad-left-10     { padding-left: 10px; }
.pad-left-15     { padding-left: 15px; }
.pad-left-30     { padding-left: 30px; }
.pad-left-45     { padding-left: 45px; }
.pad-left-60     { padding-left: 60px; }
.pad-left-75     { padding-left: 75px; }
.pad-left-90     { padding-left: 90px; }

.pad-right-0       { padding-right: 0; }
.pad-right-5       { padding-right: 5px; }
.pad-right-10     { padding-right: 10px; }
.pad-right-15     { padding-right: 15px; }
.pad-right-20     { padding-right: 20px; }
.pad-right-30     { padding-right: 30px; }
.pad-right-45     { padding-right: 45px; }
.pad-right-60     { padding-right: 60px; }
.pad-right-75     { padding-right: 75px; }
.pad-right-90     { padding-right: 90px; }

.pad-top-0       { padding-top: 0; }
.pad-top-5       { padding-top: 5px; }
.pad-top-9       { padding-top: 9px; }
.pad-top-10     { padding-top: 10px; }
.pad-top-12     { padding-top: 12px; } //used for navigation only.
.pad-top-15     { padding-top: 15px; }
.pad-top-30     { padding-top: 30px; }
.pad-top-45     { padding-top: 45px; }
.pad-top-60     { padding-top: 60px; }
.pad-top-75     { padding-top: 75px; }
.pad-top-90     { padding-top: 90px; }
.pad-top-99     { padding-top: 99px; } // used only to align footer elements.


.pad-bottom-0       { padding-bottom: 0; }
.pad-bottom-5       { padding-bottom: 5px; }
.pad-bottom-10     { padding-bottom: 10px; }
.pad-bottom-12     { padding-bottom: 12px; }
.pad-bottom-15     { padding-bottom: 15px; }
.pad-bottom-30     { padding-bottom: 30px; }
.pad-bottom-45     { padding-bottom: 45px; }
.pad-bottom-60     { padding-bottom: 60px; }
.pad-bottom-75     { padding-bottom: 75px; }
.pad-bottom-90     { padding-bottom: 90px; }

.pad-vertical-0       { padding-top: 0; padding-bottom: 0; }
.pad-vertical-2       { padding-top: 2px; padding-bottom: 2px; } //used for phase tag
.pad-vertical-5       { padding-top: 5px; padding-bottom: 5px; }
.pad-vertical-8       { padding-top: 8px; padding-bottom: 8px; } //Used on Header ONLY
.pad-vertical-10     { padding-top: 10px;  padding-bottom: 10px; }
.pad-vertical-15     { padding-top: 15px;  padding-bottom: 15px; }
.pad-vertical-30     { padding-top: 30px; padding-bottom: 30px; }
.pad-vertical-45     { padding-top: 45px; padding-bottom: 45px; }
.pad-vertical-60     { padding-top: 60px; padding-bottom: 60px; }
.pad-vertical-75     { padding-top: 75px; padding-bottom: 75px; }
.pad-vertical-90     { padding-top: 90px; padding-bottom: 90px; }

.pad-horizontal-0       { padding-left: 0; padding-right: 0; }
.pad-horizontal-5       { padding-left: 5px; padding-right: 5px; }
.pad-horizontal-10     { padding-left: 10px;  padding-right: 10px; }
.pad-horizontal-15     { padding-left: 15px;  padding-right: 15px; }
.pad-horizontal-30     { padding-left: 30px; padding-right: 30px; }
.pad-horizontal-45     { padding-left: 45px; padding-right: 45px; }
.pad-horizontal-60     { padding-left: 60px; padding-right: 60px; }
.pad-horizontal-75     { padding-left: 75px; padding-right: 75px; }
.pad-horizontal-90     { padding-left: 90px; padding-right: 90px; }
