.width-50   { width:50px; } // used for date dd
.width-70   { width:70px; } // used for date yyyy. & mm. & Risk circle
.width-100 { width: 100px; } //used for edit risk form score.
.width-120 { width: 120px; } //used for edit risk form score.
.width-200 { width: 200px; } //used for risk record teams table
.width-500 { width: 500px; } //used for risk record teams table

.width-30e { width: 30em; }

.width-5p { width: 5%; }
.width-10p { width: 10%; }
.width-15p { width: 15%; }
.width-20p { width: 20%; }
.width-25p { width: 25%; }
.width-30p { width: 30%; }
.width-35p { width: 35%; }
.width-40p { width: 40%; }
.width-50p { width: 50%; }
.width-90p { width: 90%; }
.width-95p { width: 95%; }
.width-100p { width: 100%; }
